
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_PasswordChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_RegistrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/.qmake.stash
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/AdministrationScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/BuyingPassScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/ConfirmPurchaseScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/DataChangeScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/Keyboard.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/LoggedScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/LoggedUser.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/LoginScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/main.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/mainwindow.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_AdministrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_AdministrationScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_BuyingPassScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_BuyingPassScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_ConfirmPurchaseScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_ConfirmPurchaseScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_DataChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_DataChangeScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_Keyboard.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_Keyboard.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_LoggedScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_LoggedScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_LoginScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_LoginScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_mainwindow.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_PasswordChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_PasswordChangeScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_predefs.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_RegistrationInfoScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_RegistrationInfoScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_RegistrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/moc_RegistrationScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/PasswordChangeScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/qrc_resources.cpp
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/qrc_resources.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/Raspberry.exe
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/RegistrationInfoScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/debug/RegistrationScreen.o
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/Makefile
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/Makefile.Debug
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/Makefile.Release
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/object_script.Raspberry.Debug
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/object_script.Raspberry.Release
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_AdministrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_BuyingPassScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_ConfirmPurchaseScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_DataChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_Keyboard.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_LoggedScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_LoginScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_mainwindow.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_PasswordChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_RegistrationInfoScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/ui_RegistrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp1zggja
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp6tjydh
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp75iodm
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp7kbmtn
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp9biitb
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmp9bxsbx
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpasawt9
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpbph8qr
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpfnpwkw
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpgwkn4z
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpioynh4
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmplztkfa
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpm3ucc7
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpo9lecj
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmppoxs96
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpq1usfj
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmps_hadh
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpts1fk7
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpultaqn
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpwgjhhz
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpxhh86u
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpyfg71e
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpypweab
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpyva2kj
build-Raspberry-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/usersdaniel~1appdatalocaltemptmpz4rl6_
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/.qmake.stash
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_AdministrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_AdministrationScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_BuyingPassScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_BuyingPassScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ConfirmPurchaseScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ConfirmPurchaseScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_DataChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_DataChangeScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Keyboard.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Keyboard.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoggedScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoggedScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoginScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoginScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_mainwindow.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_mainwindow.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_PasswordChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_PasswordChangeScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_predefs.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RegistrationInfoScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RegistrationInfoScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RegistrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RegistrationScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/qrc_resources.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/qrc_resources.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Raspberry.vc.pdb
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Debug
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Release
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_AdministrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_BuyingPassScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_ConfirmPurchaseScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_DataChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_Keyboard.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_LoggedScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_LoginScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_mainwindow.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_PasswordChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_RegistrationInfoScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/ui_RegistrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/.qmake.stash
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_AdministrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_AdministrationScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_BuyingPassScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_BuyingPassScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_ConfirmPurchaseScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_ConfirmPurchaseScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_DataChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_DataChangeScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_Keyboard.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_Keyboard.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_LoggedScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_LoggedScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_LoginScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_LoginScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_mainwindow.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_mainwindow.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_PasswordChangeScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_PasswordChangeScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_predefs.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_RegistrationInfoScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_RegistrationInfoScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_RegistrationScreen.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/moc_RegistrationScreen.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/qrc_resources.cpp
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/qrc_resources.obj
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/debug/Raspberry.vc.pdb
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/Makefile
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/Makefile.Debug
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/Makefile.Release
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_AdministrationScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_BuyingPassScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_ConfirmPurchaseScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_DataChangeScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_Keyboard.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_LoggedScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_LoginScreen.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_mainwindow.h
build-Raspberry-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug/ui_RegistrationInfoScreen.h
